.ostem {
    display: block;
    font-size: 300%;
    font-weight: lighter;
} .wersja {
    font-size: 200%;
    font-weight: lighter;
} h1 {
    display: inline-block;
    font-size: 300%;
    font-weight: lighter;
}